---
meta_description: top
changefreq: weekly
priority: 1
---

div
  h1.cover-heading News

  hr
  p 2012年9月13日
  p 個人投資家を引受先とする第三者割当増資を実施致しました。

  hr
  p 2012年9月13日
  p 株式会社OMT JAPANを登記致しました。
